$vermeer: #e9c592;
$beige: #d6b284;
$guilder: #bb7243;
$flying: #952637;
$delft: #212e53;
$haze: #c59328;
$text: rgb(27, 27, 28);
$grey: #ececec;
$dgrey: #282828;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

#overlay {
    font-size: 15px;
    font-weight: medium;
    max-width: 20vw;

    @media screen and (min-width: $xl) {
        max-width: 12.5vw;
    }
}

.about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $beige;
    padding: 50px 10px;

    #text {
        max-width: 80vw;

        @media screen and (min-width: $md) {
            max-width: 50vw;
        }

        @media screen and (min-width: $xl) {
            max-width: 40vw;
        }

        #heading-cat {
            display: inline;
            height: 75px;
            width: auto;
            padding: 0vw;
            margin: 0vw;
            border: 0px;
            border-radius: 0%;
            vertical-align: text-bottom;
        }
    
        #heading-text {
            display: inline;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
        }

        h2 {
            font-size: 20px;

            @media screen and (min-width: $lg) {
                font-size: 22px;
            }
        }

    }

    img {
        width: 17.5vw;
        padding: 1vw;
        margin: 1.25vw 1.25vw;
        border: 5px solid $flying;
        border-radius: 50%;

        @media screen and (min-width: $md) {
            width: 15vw;
            padding: 0.75vw;
            margin: 1vw 1vw;
        }

        @media screen and (min-width: $lg) {
            width: 13.5vw;
            padding: 0.5vw;
            margin: 0.75vw 0.75vw;
        }
    }

    #firstrow {
        margin-left: 5vw;
    }

    #secondrow {
        margin-left: 11.5vw;
    }

    #thirdrow {
        margin-left: 18vw;
    }

    .first {
        margin-left: 5vw;
    }
}
