$vermeer: #e9c592;
$beige: #d6b284;
$guilder: #bb7243;
$flying: #952637;
$delft: #212e53;
$haze: #c59328;
$text: rgb(27, 27, 28);
$grey: #ececec;
$dgrey: #282828;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 2200px;

#overlay {
    font-size: 15px;
    font-weight: medium;
    max-width: 140px;
}

.about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $guilder;
    padding: 50px 10px;

    .heading {
        min-height: 100px;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 40px;

        #heading-cat {
            display: inline;
            height: 75px;
            width: auto;
            padding: 0vw;
            margin: 0vw;
            border: 0px;
            border-radius: 0%;
            vertical-align: text-bottom;
        }
    
        #heading-text {
            display: inline;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .about-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        #text {
            width: 90vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            @media screen and (min-width: $md) {
                margin-right: 20px;
                text-align: left;
                width: 45vw;
            }
    
            h2 {
                font-size: 20px;
            }
    
        }
    
        #circles-container {
            width: 90vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 20px;

            img {
                width: 150px;
                padding: 10px;
                margin: 5px;
                border: 5px solid $flying;
                border-radius: 50%;
            }

            @media screen and (min-width: $md) {
                width: 45vw;
                margin: 0px;
            }
        }

        @media screen and (min-width: $xxl) {
            justify-content: center;
            flex-direction: column;

            #text {
                padding-bottom: 50px;
            }
        }
    }
}
