$vermeer: #E9C592;
$guilder: #BB7243;
$flying: #952637;
$delft: #212E53;
$haze: #3e6e8a;
$text: rgb(27,27,28);
$grey: #ECECEC;
$dgray: #4d4949;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.navbar {
    background: $delft;
    //background:#ECECEC;
    width: 100%;
    height: 60px;

    img {
      border: 2px solid black;
      height: 5px;
      position: fixed;
      top: 7.5px;
      left: 2%;
      z-index: 100;
    }

    .toggleicon {
      margin-left: auto;
      position: fixed;
      right: 5%;
      color: $grey;
    }

    .navcollapse {
      position: relative;
      margin: 0px;
      padding: 10px 30px;
      background-color: $delft;
      opacity: 0.8;
    }

    .navlinks {
      font-size: 20px;
      color: $grey !important;
      text-transform: uppercase;
      text-align: right;
      font-weight: bold;
      &:hover {
        color:$vermeer !important;
      }
    }
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: $flying;

  img {
    margin-top: 5vh;
    height: 35%;
    width: auto;
    padding: 2px;
    border: 5px solid $grey;
    border-radius: 50%;
    background-color: $grey;
    opacity: 1;
  }

  #name {
    opacity: 1;
    color: #ECECEC;
    font-size: 40px;
    font-weight: bold;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
  }

  h1 {
    font-size: 33px;
    font-weight:bold;
  }

  #container {
    font-size:42px;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
  
    #spin {
      opacity: 1;
      &:after {
        content:"PROGRAMMER";
        background-color: $haze;
        color: $grey;
        padding: 5px 15px;
        animation: spin 10s linear infinite;
      }
    }
  }
}

@keyframes spin {
  20% { 
    content:"ESCAPE ROOM LOVER";
  };
  40% {
    content:"RESEARCHER";
  };
  60% { 
    content:"TRUE CRIME ADDICT";
  };
  80% {
    content:"TECH ENTHUSIAST";
  };
}

#overlay {
  font-size: 15px;
  font-weight: medium;
}

.about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $guilder;
    padding: 50px 10px;

    #heading {
      font-size: 33px;
      font-weight:bold;
      text-transform: uppercase;
    }

    #text-small {
      max-width: 80vw;
    }

    #text-medium {
      max-width: 60vw;
    }

    #text-big {
      max-width: 40vw;
    }

    img {
      width: 12vw;
      padding: 0.5vw;
      margin: 0.5vw 0.5vw;
      border: 5px solid $haze;
      border-radius: 50%;
    }

    #firstrow {
      margin-left: 5vw;
    }

    #secondrow {
      margin-left: 11.5vw;
    }

    .mdfirst, .mdsecond {
      img {
        width: 15vw;
        padding: 0.75vw;
        margin: 1vw 0vw;

      }
    }

    .mdfirst {
      margin-left: 5vw;
    }

    .lgfirst, .lgsecond {
      img {
        width: 13.5vw;
        padding: 0.5vw;
        margin: 0.75vw 0vw;

      }
    }

    .lgfirst {
      margin-left: 5vw;
    }
}

.projects {
    height: 100vh;
    background: $guilder;
}

.resume {
    height: 100vh;
    background: $flying;
}

.contact {
    height: 100vh;
    background: #ECECEC;
}