$vermeer: #E9C592;
$guilder: #BB7243;
$flying: #952637;
$delft: #212E53;
$haze: #c59328;
$text: rgb(27,27,28);
$grey: #ECECEC;
$dgrey: #282828;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}