$vermeer: #e9c592;
$beige: #d6b284;
$guilder: #bb7243;
$flying: #952637;
$delft: #212e53;
$haze: #c59328;
$text: rgb(27, 27, 28);
$grey: #ececec;
$dgrey: #282828;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 2200px;

.contact {
    min-height: 100vh;
    width: 100%;
    background-color: $flying;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8vh;

    h1 {
        color: $grey;
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {
        color: $grey;
        font-weight: medium;
        padding-top: 2vh;
        padding-bottom: 4vh;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .contact-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        #cat {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            #heading-cat {
                width: 280px;
                height: auto;
                margin-bottom: 5vh;
            }
        }

        #form {
            width: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: rgba(236, 236, 236, 0.7);
            padding: 20px 0px;
            margin-left: 0px;

            .fields {
                font-size: 15px;
                margin: 5px 0px;
                width: 250px;
                background: rgba(33,46,83, 0.5);
                color: $grey;
            }

            .label {
                font-size: 14px;
                color: rgba(27, 27, 28, 0.7);
                padding: 0px;
            }

            #message {
                font-size: 15px;
                width: 250px;
                margin: 5px 0px;
                background: rgba(33,46,83, 0.5);
                color: $grey;
                padding: 0 0 150px 0;
            }

            #submit-button {
                background-color: $flying;
                color: $grey;
                font-size: 14px;
                font-weight: bold;
                padding: 5px;
            }

            #contact-form {
                color: $text;
            }
        }

        @media screen and (min-width: $sm) {
            #cat {
                width: 350px;
                margin-right: 20px;

                #heading-cat {
                    width: 350px;
                }
            }

            #form {
                width: 350px;
                margin-left: 20px;

                .fields {
                    font-size: 15px;
                    margin: 5px 0px;
                    width: 300px;
                }

                .label {
                    font-size: 14px;
                }

                #message {
                    font-size: 15px;
                    width: 300px;
                }

                #submit-button {
                    font-size: 14px;
                }
            }

        }

        @media screen and (min-width: $lg) {
            #cat {
                width: 400px;

                #heading-cat {
                    width: 400px;
                }
            }

            #form {
                width: 400px;

                .fields {
                    font-size: 18px;
                    width: 350px;
                    margin: 8px 0px;
                }

                .label {
                    font-size: 15px;
                }

                #message {
                    padding: 0 0 200px 0;
                    width: 350px;
                    font-size: 18px;
                }

                #submit-button {
                    font-size: 15px;
                }
            }
            
        }

        @media screen and (min-width: $xl) {
            #cat {
                width: 500px;

                #heading-cat {
                    width: 450px;
                }
            }

            #form {
                width: 500px;

                .fields {
                    font-size: 20px;
                    width: 450px;
                }

                .label {
                    font-size: 17px;
                }

                #message {
                    padding: 0 0 250px 0;
                    width: 450px;
                    font-size: 20px;
                }
            }
            
        }

        @media screen and (min-width: $xxl) {
            #cat {
                margin-right: 70px;
            }

            #form {
                margin-left: 70px;
            }
        }
    }
}