$vermeer: #E9C592;
$guilder: #BB7243;
$flying: #952637;
$delft: #212E53;
$haze: #c59328;
$text: rgb(27,27,28);
$grey: #ECECEC;
$dgrey: #282828;

.main {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: $flying;
    padding: 8vh;

    #header {
        margin-top: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        max-width: 90vw;

        #mainimg {
            height: auto;
            width: 300px;
            max-width: 90vw;
            padding: 2px;
            border: 5px solid $grey;
            border-radius: 50%;
            background-color: $grey;
            opacity: 0.85;
        }

        #name {
            opacity: 1;
            color: $grey;
            font-size: 40px;
            font-weight: bold;
            margin-top: 1.5vh;
            margin-bottom: 1vh;
        }

        #namelinks {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;

            #links {
                display: inline;
                height: 30px;
                width: auto;
                margin: 0px 5px;
                color: $haze;
            }
        
        }

        #tagline {
            opacity: 1;
            color: $grey;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
        }
        
        #container {
            font-size:42px;
            font-weight:bold;
            height: 130px;
            max-width: 90vw;
            word-wrap: break-word;
        
            #spin {
                opacity: 1;
                &:after {
                    content:"WEB DEVELOPER";
                    background-color: $haze;
                    color: $grey;
                    margin: 0px;
                    padding: 5px 15px;
                    -webkit-box-decoration-break: clone;
                    box-decoration-break: clone;
                    animation: spin 10s linear infinite;
                }
            }
        }
    }
}

@keyframes spin {
    20% { 
        content:"ESCAPE ROOM LOVER";
    };
    40% {
        content:"TECH ENTHUSIAST";
    };
    60% { 
        content:"TRUE CRIME ADDICT";
    };
    80% {
        content:"RESEARCHER";
    };
    100% {
        content:"RAPTORS FAN";
    };
}