$vermeer: #e9c592;
$beige: #d6b284;
$guilder: #bb7243;
$flying: #952637;
$delft: #212e53;
$haze: #c59328;
$text: rgb(27, 27, 28);
$grey: #ececec;
$dgrey: #282828;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.projects {
    height: 100vh;
    background: $beige;
}